{{ partial "head" . }}
<body>
<div id="wrap">
{{ partial "header" . }}
    <section id="about">
        <div class="container">
            <div class="avatar">
                <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
            </div>
            <h3>Hi, Adriaan here! <span aria-label="waving hand" role="img">👋</span></h3>
            <h4>On this site I share my projects, geeky experiments, and occasionally blogs.</h4>
            <h4>These days, I’m working as a freelancer. If you’d like to work together, just drop me a line through any of the contact methods below.</h4>
            <h4>Browse <a href="https://cv.aknapen.nl">cv.aknapen.nl</a> for my CV, and go to 
                <a href="https://github.com/{{ .Site.Params.Social.Github }}">GitHub</a> for all my public projects.
            </h4>
            <br>
        {{ partial "social.html" . }}
        </div>
    </section>
</div>
{{ partial "footer" . }}
</body>
</html>
